
<div class="HeaderVideo">
    <video
        class="video-large"
        autoplay
        muted
        loop
        style="width: 100%; z-index: -1;"
    >
        <source
            src="https://cdn.shopify.com/videos/c/o/v/ed6d82b5715e4dfa949e871b4bccdb93.mp4"
            type="video/mp4"
        />
        Your browser does not support the video tag.
    </video>
    <video
        class="video-small"
        autoplay
        muted
        loop
        style="width: 100%; z-index: -1;"
    >
        <source
            src="https://cdn.shopify.com/videos/c/o/v/278ffe162ffd46bc8d91adcc06bbe023.mp4"
            type="video/mp4"
        />
        Your browser does not support the video tag.
    </video>
</div>

{%stylesheet%}
.video-large {
        display: block; /* Default display for large screens */
    }
    .video-small {
        display: none;
    }

    @media (max-width: 821px) {
        .video-large {
            display: none; /* Hide the large video for smaller screens */
        }
        .video-small {
            display: block; /* Show the small video for smaller screens */
        }
    }
{%endstylesheet%}




{% schema %}
    {
        "name": "Header Video",
        "settings": [],
        "presets": [
            {"name": "Header Video"}
        ]
    }
{% endschema %}