
<div class="HeaderVideo">
    <h1>Hello </h1>
    <video autoplay muted loop id="video-banner" style="width: 100%; height: auto; position: absolute; top: 0; left: 0; z-index: -1;">
        <source src="{{ 'https://cdn.shopify.com/videos/c/o/v/ed6d82b5715e4dfa949e871b4bccdb93.mp4' | asset_url }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>

{%stylesheet%}
    {%endstylesheet%}




{% schema %}
    {
        "name": "Header Video",
        "settings": [],
        "presets": [
            {"name": "Header Video"}
        ]
    }
{% endschema %}