<h1>{{section.settings.text}}</h1>
{{product.featured_image}}
{% schema %}
    {
        "name": "Test Section",
        "settings": [
            {
                "type": "product",
                "id": "product",
                "label": "Text"
            },
            {
                "type": "image_picker",
                "id": "productpic",
                "label": "image"
                
            }
        ],
        "presets": [{ "name": "Default Test Section"}],
        "tag": "section",
        "class": "test-section",
        "limit": 1

    }
{% endschema %}