

<div class="faq">
    <h1>{{ section.settings.headline }}</h1>
    {% for block in section.blocks %}

        <div class="radiodiv" onclick=selected(this)>one</div>
        <div class="radiodiv" onclick=selected(this)>two</div>
        <div class="radiodiv" onclick=selected(this)>three</div>
        <div class="radiodiv" onclick=selected(this)>four</div>
        <div class="radiodiv" onclick=selected(this)>five</div>
        <div class="radiodiv" onclick=selected(this)>six</div>
        <div class="radiodiv" onclick=selected(this)>seven</div>





    {%endfor%}
  
</div>
{{ 'test-js.js' | asset_url | script_tag }}

{%stylesheet%}
.productinfo{
    background: red;
}
.selected:checked ~ .productinfo{
    background: green;
}

.productcard2 {
  background-color: red;
}
.productcard2.clicked {
  background-color: green;
}
{%endstylesheet%}

{% schema %}
    {
        "name": "Kit-Builder",
        "settings": [
            {
                "type": "text",
                "label": "Headline",
                "id": "headline"
            }
        ],
        "max_blocks": 6,
        "blocks":[
            {
                "name": "Kit Section",
                "type": "Kit-Section",
                "settings":[
                    {
                        "type": "text",
                        "label": "Section Header",
                        "id": "SectionHeader"
                    },
                    {
                        "type": "product",
                        "label": "Product",
                        "id": "product1"
                    },
                    {
                        "type": "product",
                        "label": "Product",
                        "id": "product2"
                    },
                    {
                        "type": "product",
                        "label": "Product",
                        "id": "product3"
                    }
                ]               
            }
        ],
        "presets": [
            {"name": "Kit-Builder"}
        ]
    }
{% endschema %}