<h1>{{section.settings.text}}</h1>

{% schema %}
    {
        "name": "Test Section",
        "settings": [
            {
                "type": "product",
                "id": "text",
                "label": "Text"
            }
        ],
        "presets": [{ "name": "Default Test Section"}],
        "tag": "section",
        "class": "test-section",
        "limit": 1

    }
{% endschema %}